Source: podget
Section: misc
Priority: optional
Maintainer: Dave Vehrs <dvehrs@gmail.com>
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/dvehrs/podget
Vcs-Git: https://salsa.debian.org/debian/podget.git
Vcs-Browser: https://salsa.debian.org/debian/podget

Package: podget
Architecture: all
Multi-Arch: foreign
Depends: gawk | mawk, wget, ${shlibs:Depends}, ${misc:Depends}
Description: Podcast aggregrator/downloader optimized for cron
 Podget is a simple podcast aggregator optimized for running as a scheduled
 background job (i.e. cron). It features support for downloading podcasts
 from RSS & ATOM XML feeds, for sorting the files into folders &
 categories, for importing URLs from iTunes PCAST files & OPML lists
 automatic M3U & ASX playlist creation, and automatic cleanup of old files.
 It also features automatic UTF-16 conversion for podcasts hosted on MS
 Windows servers.
 Run podget once to install the users configuration files to $HOME/.podget,
 and then customize them there.
