Source: podget
Section: misc
Priority: optional
Maintainer: Dave Vehrs <dvehrs@gmail.com>
Build-Depends: debhelper (>= 13)
Rules-Requires-Root: no
Standards-Version: 4.5.0
Homepage: https://github.com/dvehrs/podget
VCS-git: https://salsa.debian.org/debian/podget.git
VCS-Browser: https://salsa.debian.org/debian/podget

Package: podget
Architecture: all
Depends: bash (>= 4.4), coreutils (>= 8.5), debianutils (>= 4.0), findutils (>=4.0.0), grep (>= 2.0.0), gawk (>=4.0.0) | mawk (>=1.3.0), sed (>= 4.0.0), wget, ${shlibs:Depends}, ${misc:Depends}
Suggests: libc-bin (>=2.0)
Description: Podcast aggregrator/downloader optimized for cron
 Podget is a simple podcast aggregator optimized for running as a scheduled
 background job (i.e. cron). It features support for downloading podcasts
 from RSS & ATOM XML feeds, for sorting the files into folders &
 categories, for importing URLs from iTunes PCAST files & OPML lists
 automatic M3U & ASX playlist creation, and automatic cleanup of old files.
 It also features automatic UTF-16 conversion for podcasts hosted on MS
 Windows servers.
 Run podget once to install the users configuration files to $HOME/.podget,
 and then customize them there.
